<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            <File>.*Migrations.*</File>
            <File>.*Program.cs</File>
            <File>.*RabbitMqPublisher.cs</File>
            <File>.*UserDeletedConsumer.cs</File>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
