<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            <ModulePath>.*AuthenticationService.*</ModulePath>
          </Include>
          <Exclude>
            <Class>Authentication_Service.Program</Class>
            <Path>.*Migrations.*</Path>

            <Class>Authentication_Service.Events.RabbitMqPublisher</Class>

            <Class>Authentication_Service.Events.UserDeletedConsumer</Class>
            <Path>.*Tests.*</Path>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
